[user]
	name = v4n
	email = 105587619+v4n00@users.noreply.github.com

[push]
	autoSetupRemote = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[gpg]
	format = ssh

[commit]
	gpgsign = true

[gpg "ssh"]
	defaultKeyCommand = ssh-add -L
