@define-color bg #1e1e2e;
@define-color accent #d8dee9;
@define-color bg2 #313244;
@define-color text #cdd6f4;
@define-color border #f38ba8;
* {
    font-family: 'JetBrains Mono Nerd Font', monospace;
}

window {
    margin: 0px;
    padding: 10px;
    background-color: @bg;
    border-radius: 10px;
    border: 2px solid @border;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @bg;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @bg;
}

#scroll {
    margin: 0px;
    border: none;
}

#input {
    margin: 5px;
    border: none;
    color: @accent;
    background-color: @bg2;
}

#text {
    margin: 5px;
    border: none;
    color: @txt;
}

#entry:selected {
   background-color: @bg2;
}
