/* nitro */
[data-list-item-id*="__nitro"], /* nitro section in dms */
[data-list-item-id*="__shop"], /* shop section in dms */
[data-list-item-id*="__quests"], /* quests section in dms */
[aria-label="Send a gift"], /* send a gift button */

/* sidebar */
[class*="itemsContainer"] > [class*="stack"] > [class*="listItem"], /* discover button and divider between friends and servers */
[class*="privateChannels"] > [class*="searchBar"], /* friends search bar in dms bar */
[class*="sidebarResizeHandle"], /* resize handle for sidebar */

/* profiles */
[class*="avatarDecoration"], /* chat box avatar decorations */
[class*="profileEffects"], /* profile animations */
[aria-label="User Badges"], /* profile badges */
[aria-label^="Custom status:"], /* profile status */
[class*="mutuals"], /* mutual servers and friends */
[class*="clanTag"], /* clan tag */
[class*="guildTagContainer"], /* clan tag in profile */
[class*="interactive"] > [style^="background: linear-gradient"], /* nameplates */
[class*="pronounsText"], /* pronouns */
[class*="pronouns"] > [class*="dotSpacer"], /* pronouns spacer dot */
[class*="nicknameIcons"], /* add note button */

/* activities and apps */
[aria-label="Apps"], /* app launcher button in VC and status bar */
[class*="channelAppLauncher"], /* chat box app launcher button */

/* chat */
[class*="buttons"] > [class*="expression-picker-chat"]:nth-of-type(3), /* chat box sticker button */
[id="sticker-picker-tab"], /* sticker button inside gif/emoji picker */
[class^="threadSuggestionBar"], /* suggest starting thread */
[class*="-bar theme-dark theme-darker images-dark"] /* title bar remove helper */

{ display: none !important; }

div[class*="base"] { grid-template-rows: [top] 0.3rem [titleBarEnd] min-content [noticeEnd] 1fr [end]; } /* remove title bar */
div[class*="sidebar"] { width: 16rem !important; } /* fixed sidebar width */