@import "theme.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: medium;
}

window#waybar {
    background-color: alpha(@bg, 0.7);
}

#workspaces button.active, #workspaces button:hover {
    color: @bg;
    background-color: @red;
}

#workspaces button.special.urgent.active {
    color: @bg;
    background-color: @red;
}

#workspaces button.special.urgent {
    color: @fg;
    background-color: alpha(@bg, 0.7);
}

#workspaces button.urgent {
    background-color: @yellow;
    color: @bg;
}

#battery.warning {
    background-color: @yellow;
    color: @bg;
}

#battery.critical {
    background-color: @red;
    color: @bg;    
}

tooltip label,
#workspaces button,
#custom-power,
#custom-lock,
#custom-reboot,
#custom-logout,
#custom-sleep,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#bluetooth,
#custom-music,
#tray {
    border-radius: 0.5rem;
    margin: 0.5rem 0.25rem;
    padding: 0.4rem 1rem;
    background-color: alpha(@bg, 0.7);
    color: @fg;
    border: 0.15rem solid @red;
}

#custom-music {font-size: 0.9rem;}
#network {padding-right: 1.1rem;}
#wireplumber {padding-left: 0.9rem;}
#custom-power {padding-right: 1.2rem;}
#custom-logout {margin-left: 1rem;}
#workspaces button {padding-left: 1.2rem;}
#workspaces button.special {padding-left: 0.8rem;}
tooltip label {margin: 0; margin-top: 0.5rem; background-color: @bg}
tooltip * {background-color: transparent;}
tooltip.background {background-color: transparent;}

#workspaces {margin-left: 0.25rem;}
#custom-power {margin-right: 0.25rem;}
