@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: medium;
}

window#waybar {
    background-color: alpha(@base, 0.3);
}

#workspaces button.active, #workspaces button:hover {
    color: @base;
    background-color: @red;
}

#workspaces button.urgent {
    background-color: @peach;
    color: @base;
}

#battery.warning {
    background-color: @peach;
    color: @base;
}

#battery.critical {
    background-color: @red;
    color: @base;    
}

tooltip label,
#workspaces button,
#custom-power,
#custom-lock,
#custom-reboot,
#custom-logout,
#battery,
#backlight,
#pulseaudio,
#memory,
#network,
#clock,
#bluetooth,
#custom-music,
#tray {
    border-radius: 0.5rem;
    margin: 0.5rem 0.25rem;
    padding: 0.4rem 1rem;
    background-color: alpha(@base, 0.6);
    color: @text;
    border: 0.15rem solid @red;
}

#custom-music {font-size: 0.9rem;}
#network {padding-right: 1.1rem;}
#custom-power {padding-right: 1.2rem;}
#custom-logout {margin-left: 1rem;}
#workspaces button {padding-left: 1.2rem;}
tooltip label {margin: 0; margin-top: 1rem; background-color: @base}
tooltip {background-color: transparent;}

#workspaces {margin-left: 0.25rem;}
#custom-power {margin-right: 0.25rem;}
