@import "theme.css";

* {
    font-family: JetBrainsMono Nerd Font Propo;
    min-height: 0;
}

window { background-color: transparent; }
tooltip.background { background-color: transparent; }
window > box { margin: 0 0.25rem; }
#workspaces button.active { background-color: @red; }

tooltip label, #workspaces button, #clock, #tray {
    background-color: @bg;
    color: @fg;
    margin: 0.5rem 0.25rem;
    padding: 0.4rem 1rem;
    border: 0.15rem solid @red;
    border-radius: 0;
}

