* {
    background-image: none;
}

window {
    background-color: rgba(30, 30, 46, 0.8);
}

button {
    color: #cdd6f4;
    font-size: 64px;
    background-color: #313244;
    border: 2px solid #595959; 
    border-radius: 10px;
    box-shadow: 0px 0px;
    margin: 180px 5px;
}

button:focus, button:active, button:hover {
    background-color: #6c7086;
    border: 2px solid #f38ba8;
    outline-style: none;
}
